/*  RESET */
*,
*::before,
*::after {
  /* outline: 1px solid pink; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-darkgray: #4a4a4a;
  --background-mediumgray: #d8d8d8;
  --background-lightgray: #f3f5f4;
  --background-white: #ffffff;
  --text-darkgray: #4a4a4a;
  --text-lightgray: #9a9a9a;
  --text-white: #ffffff;
  --text-blue: #37b6ed;
}
/* BODY */
body {
  width: 1024px;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  margin: 0 auto;
}

/* header */
header {
  color: var(--text-darkgray);
  background-color: var(--background-white);
  height: 64px;
  margin: 0 24px;
  align-content: center;
}

.nav--container {
  height: 32px;
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav--logo {
  align-self: center;
  display: flex;
  align-items: center;
}

.nav--logo > img {
  margin: 0;
  padding: 0;
}

.nav-container-mobile {
  display: none;
}

.logo-textdark,
.logo-textlight {
  font-size: 1rem;
}

.logo-textlight {
  color: var(--text-lightgray);
}

.nav--list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}
.nav--list > li {
  list-style-type: none;
}

.nav--list > li a {
  color: var(--text-darkgray);
  text-decoration: none;
}

/* MAIN: Section Hero */
.hero {
  color: var(--text-darkgray);
  background-color: var(--background-mediumgray);
  padding: 32px 24px;
}

.image-container {
  width: fit-content;
}

.image-container > img {
  width: 100%;
}

.hero--container {
  display: grid;
  grid-template-columns: 60% 40%;
}

.hero-content {
  padding: 0 0 0 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-content > h1,
.hero-content > p,
.hero-content > button {
  align-self: flex-start;
  margin: 1rem;
}

.hero-content > h1 {
  font-size: 2.5rem;
}

.hero-content > p {
  font-size: 1.3rem;
}

.hero-content > button {
  display: inline-block;
  color: var(--text-white);
  background-color: var(--background-darkgray);
  font-size: 1rem;
  padding: 0.5rem 120px;
  border-style: none;
}

/* MAIN: Section Information */
.information {
  color: var(--text-darkgray);
  background-color: var(--background-lightgray);
  padding: 2rem 1.5rem 0 1.5rem;
  display: grid;
  grid-template-columns: 60% 40%;
}

.information--container {
  width: fit-content;
  padding-right: 1.5rem;
}

.information--container > img {
  width: 100%;
}

.information--container > h2 {
  font-size: 2rem;
  padding: 2rem 0 1.5rem 0;
}

.information--container > p {
  font-size: 1rem;
}

.information--container > div {
  font-size: 0.8rem;
  padding-bottom: 2rem;
}

.information--section {
  display: flex;
  flex-direction: column;
}

.info-box,
.guest {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
}

.info-box > img {
  width: 35%;
}

.info-content > h3,
.info-content > p {
  padding: 0.5rem;
}

.guest {
  background-color: var(--background-mediumgray);
}
.read-more {
  color: var(--text-blue);
}
.mobile-image {
  display: none;
}

/* MAIN: Section Course */
.course {
  color: var(--text-darkgray);
  background-color: var(--background-mediumgray);
}
.course > h2 {
  font-size: 2rem;
  padding-top: 2rem;
  text-align: center;
}

.course-container {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  gap: 2rem;
  margin: 2rem 4.5rem 0 4.5rem;
  padding-bottom: 2rem;
}

.course-card {
  background-color: var(--background-white);
}

.course-card > img {
  width: 272px;
  height: auto;
  object-fit: cover;
}

.course-card > h3 {
  margin: 1rem;
}

.course-card > p {
  margin: 0.5rem 1rem 0 1rem;
  font-size: 0.8rem;
}

.course-card > p:nth-last-child(1) {
  padding-bottom: 1.5rem;
}

/* MAIN: Section Thesis */
.thesis {
  color: var(--text-darkgray);
  background-color: var(--background-lightgray);
}
.thesis > h2 {
  font-size: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}

.thesis-container {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 1.5rem;
  margin: 0 1.5rem;
}

.thesis-content > video {
  width: 585px;
  height: auto;
  object-fit: cover;
}

.thesis-content > h3 {
  margin-top: 1.5rem;
  font-size: 1.2rem;
}

.thesis-content > p {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  font-size: 1rem;
}

.thesis-sidebox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
}

.fisma,
.now-and-then {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.fisma {
  background-color: var(--background-mediumgray);
}

.now-and-then {
  margin-right: 1.5rem;
}

.fisma > img,
.now-and-then > img {
  padding: 1rem;
  width: 35%;
}

.fisma > h3,
.now-and-then > h3 {
  width: 65%;
  margin: 0.5rem 0;
}

.fisma > p,
.now-and-then > p {
  color: var(--text-lightgray);
  width: 65%;
}

/* FOOTER */
footer {
  color: var(--text-darkgray);
  background-color: var(--background-lightgray);
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 1rem 1.5rem 2rem 1.5rem;
  border-top: 1px solid var(--background-mediumgray);
}

.term {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

/* --------------- Mobile ---------------- */
@media screen and (max-width: 600px) {
  body {
    box-sizing: border-box;
    font-size: 16px;
    align-content: center;
  }
  .nav--container,
  .nav--logo,
  .nav--list,
  .information--container,
  .desktop-image,
  .course-card > img,
  .course-card > p,
  .thesis-sidebox,
  .thesis-content > h3,
  .thesis-content > p,
  .side-content,
  .fisma,
  .now-and-then,
  .term {
    display: none;
  }
  .nav-container-mobile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 64px;
    width: 100%;
  }
  .nav-mobile {
    width: 100vw;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-mobile > li {
    flex: 1;
    list-style-type: none;
  }
  .hero,
  .course {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .hero {
    padding: 0;
  }
  .hero--container {
    display: flex;
    flex-direction: column;
  }
  .image-container {
    min-width: 600px;
  }
  .hero-content {
    display: grid;
    grid-template-columns: 100%;
  }
  .information--section {
    display: grid;
    grid-template-columns: 100%;
  }
  .info-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    flex: 1;
  }
  .info-content {
    align-self: flex-start;
  }
  .mobile-image {
    width: 100%;
    object-fit: cover;
  }
  .guest {
    background-color: var(--background-lightgray);
  }
  .course {
    background-color: var(--background-lightgray);
  }
  .course-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .course-card {
    background-color: var(--background-mediumgray);
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 1rem 1rem 1.5rem 1rem;
  }
  .thesis-container {
    min-width: 600px;
    object-fit: cover;
  }
  .thesis > h2 {
    width: 100%;
  }
  .thesis-content {
    align-self: center;
  }
  .thesis-content > video {
    padding-bottom: 1.5rem;
  }
  footer {
    padding: 1rem;
  }
}
